*{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    padding:0;
    margin:0;
}


.nav-img{
    max-width: 139px;
}

.btn1{
    color:white;
    background-color: #469165;
    border-radius: 4px;
    padding:12px 16px;
    border:none;
    font-weight:600;
    font-size:16px;
    cursor: pointer;

}

.btn1:hover{
    color:#469165;
    background:none;
    border:1px solid #469165;
    padding:11px 15px;
    

}






nav div ul a{
    text-decoration: none;
    color:black;
    font-weight:500;
    font-size:16px;
    line-height: 152%;
}

nav div ul{
    list-style: none;
    display:flex;
    gap:32px;
}


nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
}



.hero-section div .div1-logo{
    width:16px;
}

.hero-section div  .div1-p{
    color:#30B868;
    font-size:16px;
    font-weight:500;
}
          


.hero-section .div1{
    display:flex;
    gap:6px;
    padding:8px 12px;
    background-color: white;;
    max-width:202px;
    margin-bottom:16px;
    border-radius:50px;
}

.hero-section .hero-header{
    color:#30B868;
    font-size:72px;
    max-width:770px;
    line-height: 84px;
    text-align:center;
    margin-bottom:16px;
}

.hero-section .hero-header span{
    color:white;
}

.hero-paragraph{
    font-size:18px;
    line-height:24px;
    text-align: center;
    margin-bottom:32px;
    color:white;
}

.btn-a{
    color:white;
    background-color: #469165;
    border-radius: 4px;
    padding:12px 16px;
    border:none;
    font-weight:600;
    font-size:16px;
    cursor: pointer;

}

.btn-a:hover{
    color:white;
    background:none;
    border:1px solid white;
    padding:11px 15px;
   


}


.hero-btn{
    display:flex;
    gap:16px;
}

.hero-section{
    display: flex;
    flex-direction:column;
   padding: 115.5px 120px 179.5px;
    align-items: center;
    max-width: 1600px;
    background-repeat: no-repeat;
    background:url("B13-A01-Knowledge-Vault-main/assets/hero-bg.png"), rgba(0, 25, 49, 0.8);
}



.btn2{
    border:1px solid white;
    border-radius:4px;
    background: none;
    color:white;
    font-weight:600;
    font-size:16px; 
    padding:11px 15px;
}

.btn2:hover{
    background-color:#469165;
    border:1px solid #469165;
   

}
