*{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    padding:0;
    margin:0;
}


.nav-img{
    max-width: 139px;
}

.btn1{
    color:white;
    background-color: #469165;
    border-radius: 4px;
    padding:12px 16px;
    border:none;
    font-weight:600;
    font-size:16px;
    cursor: pointer;

}

.btn1:hover{
    color:#469165;
    background:none;
    border:1px solid #469165;
    padding:11px 15px;
    

}






nav div ul a{
    text-decoration: none;
    color:black;
    font-weight:500;
    font-size:16px;
    line-height: 152%;
}

nav div ul{
    list-style: none;
    display:flex;
    gap:32px;
}


nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
}
